/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-image: url(bg.png) ; */
  }
  body::before{
    content: " ";
    background-image: url(bg.png) ;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4px;
  }
  /* Header section */
  .header {
    text-align: center;
  }
  .cover-photo {
    width: 100%;
    height: 208px;
  }
  .cover-photo img {
    width: 100%;
    height: 200px;
    /* background-color: #ccc; Placeholder color */
  }
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:#cfacac; /* Placeholder color */
    margin-top: -75px;
    border: 3px solid black; /* Placeholder color */
    display: block;
    margin: 0 auto;
  }
  .username {
    font-size: 24px;
    margin-top: 10px;
  }
  .bio {
    margin-top: 10px;
    color:#e17a7a;
  }
  /* Navigation tabs */
  .tabs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .tab {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Content section */
  .content {
    margin-top: 20px;
    /* background-color: lightpink; */
  }
  .tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
  }
  /* Footer section */
  .footer {
    margin-top: 20px;
    text-align: center;
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define columns */
    grid-gap: 4px; /* Define gap between grid items */
  }
  
  .image-grid-item{
    /* Additional styling for each grid item (image) */
    border: 1px solid black;
    display: flex;
    /* flex-direction: row; */
    /* margin: 94px 25px; */
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .image-grid-item img {
    /* display: flex; */
    width: 228px; /* Ensure images fill their grid item containers */
    height: auto; /* Maintain aspect ratio */
    /* border: 3px solid black; */
    padding: 2px;
  }
  